<h2>Movies list</h2>
<ul>
    <% @movies.each do |movie|%>
        <li><strong><%=movie.name%></strong>
        in <%=movie.location%>, Price: <%=price(movie)%>
        </li>
        <p>About: <%= truncate(movie.description, size: 40, seperator: " ")%></p>
         <p>Released Date: <%=movie.viewing_date%></p>
    <%end%>
</ul>