<section class = 'half_width  movies_content '>
   <h1 class= 'text-center'><%= @movie.name%></h1><br>
   <div class= 'w-50 mx-auto'>
      <div><%= image_tag(@movie.avatar.url, class:'movie_image')%><br></div>
      
       in <%=@movie.location%> Cinema, <span class= 'price1 text-white'> <%=price(@movie)%></span><br>
   <div><br>
   <%if @category.exists? %>
      <h5 >Categories</h5>
        <% @category.each do |c|%>
          <li><%= c.name%></li>
        <%end%>
   <%end%>
   </div>
   </div><br>
  <div>
     <%if current_user%>
         <div class='button'>
            <div>
              <%= like_or_unlike(@liked,@movie)%>
            </div>
               <div class= 'counter'><%= @likers.size%></div>
         </div>
     <%end%>
  </div><br>

   <%if @likers.exists?%>
      <h5>Movies liked by</h5>
         <% @likers.each do |user| %>
         <%= link_to user.name, user, class: 'text-decoration-none text-info' %>&nbsp
         <%end%>
   <%end%>  

   <p>
      <span class="bold">About:</span> <%= @movie.description%>
   </p>
   <p class = 'text-white'>
      Available Spots:<span class="text-primary"> <%= @movie.capacity%></span>
   </p>
   <p class ="text-white">
         Viewing Time: <span class="text-primary"><%= day_time(@movie) %></span>
   </p>
      <%= registered_or_unregistered(@movie,@registered)%>
   <div class='register'>
      <%= link_to "Who's Registered?", movie_registrations_path(@movie) %>
   </div>

   <div>
      <%= form_with model: [@movie, @movie.comments.build] do |f|%>
         <div><%= f.label :body, 'Leave Your Comment', class: 'display-5'%></div>
         <div><%= f.text_area :body, class: 'form-control', rows: 5%></div>
            <%if current_user%>
               <%= f.number_field   :user_id, value: current_user.id, type: :hidden%>
            <%end%><br>
         <div><%= f.submit class:'btn btn-success' %></div><br>
      <%end%>
    
      <%if @commenter.present? %>
        <div class= ' text-dark p-2 rounder'>
        <h5>Comments</h5>
            <% @commenter.each do |e| %>
                  <div >
                   <%= image_tag ("#{e.user.image.url}"), class: 'iko' %>
                     <%=link_to e.user.name.capitalize, e.user, class: 'text-success text-decoration-none'%>
                     <div class= 'mx-5 pt-1'>
                        <%= e.body%>
                        <%if current_user && current_user.id == e.user.id %>
                                                <%= link_to 'delete', movie_comment_path(@movie,@commenter), method: :delete,
                                                class: 'text-decoration-none text-danger ',
                                                data: {confirm: 'Are you sure?'}%>
                        <%end%>
                     
                     </div>
                  </div>
             <%end%>
         </div><br>
     <%end%>
      
   </div>

   <%if current_user_admin?%>
      <div>
         <%= link_to "Edit Movie", edit_movie_path(@movie), class:'btn btn-dark'%>
         <%= link_to "Delete Movie", movie_path(@movie),method: :delete, class:'btn btn-danger',
         data: { confirm: "Are you sure you want to delete #{@movie.name}"}%>
      </div> 
   <%end%>  
</section>
